.App {
  text-align: center;
}

.mainContainer{
  margin-top: 3em;
}

.mainNav{
  min-height: 56px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  text-decoration: none;
}

.homePage {
  padding: 7em 17em;
  text-align: justify;
}

.homePage .description{
  font-family:'Muli', sans-serif;
  margin: 2em .5em;
  font-size: 20px;
}

.homePage .title{
  font-family: 'Major Mono Display', monospace;
  font-size: 100px;
}

.logo{
  border: none;
  background-color: transparent;
}

.backArrow{
  font-size: 2em
}

.btnRead{
  height: 3em;
  background: #232526;
}

.searchBarInput{
  height: 3em; 
}

.buttonSearch, .buttonBack{
  background: transparent;
  color: black;
  border:none;
}

.buttonSearch:hover, .buttonBack:hover{
  background: transparent;
  color:fade(black,80%);
  border-bottom: 3px solid #2423238f;
}

.gistCard, .gistContent, .createGistForm{
  background: #ffffff;
  text-align: justify;
  border-radius: 6px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

.cardHeader {
  outline: none;
  border-bottom: 1px solid #3d3939a1;
}

.cardBody{
  text-align: right;
}

.updatedDate{
    height: 0px;
    font-size: 12px;
    margin: 0em 9em 2em;
    color: #202227e0;
}

.gistDescription {
  text-align: justify;
  margin: 1em 1em 0em;
  font-size: 20px;
  color: #202227e0;
}

.userProfileImage{
  width: 3em;
  height: 3em;
  border-radius: 100%;
  margin: 1em;
}

.authUserImage{
  width: 2em;
  height: 2em;
  border-radius: 100%;
  margin: 1em;
}

.gistName{
  text-align: center;
  margin-left: 1em;
  font-size: 1.5em;
  display: inline;
}
